{
  "presets": [
    ["@babel/preset-env", {
      "targets": "> 1%, not dead",
      "useBuiltIns": false
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    ["component", {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }]
  ]
}
